.list {
  list-style: none;
  display: block;
  margin: 12px auto;

  &__text {
    opacity: .8;
    color: #ffffff;
  }

  &__item {
    margin-bottom: 12px;
  }
}

.item {
  &__value {
    margin-left: 8px;
    font-weight: 600;
    text-decoration: underline;
  }
}